.appHeader > div {
      padding: 1em;
      lost-column: 1/4;
}

.appHeader input {
      border: 1px solid thin #333;
}

.sort-order-container {
      float: right;
}
.sort-order-container > select {
      margin-top: 5px;
      float: right;
      border: 1px solid thin #333;
}

hr {
      clear: both;
      border: 1px solid thin #ccc;
}

.peopleList {
      lost-utility: clearfix;
}

@media(min-width: 630px) {
      .peopleList {
            lost-center: 1/2;
      }
}

#nextButton {
      float: right;
}

#previousButton {
      float: left;
}
